@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <nav class="cabecalho">
        <div class="row w-100">
            <div class="col text-center">
                <h1 class="painel-senha">Painel de Senhas</h1>
            </div>
            <div class="col-auto">
                <!-- Usar um caminho relativo para a imagem -->
                <img src="~/img/logosicoobcredipinho-removebg-preview.png" alt="Logo Sicoob Credipinho" />
            </div>
        </div>
    </nav>

    <div class="row conteudo">
        <div class="col-md-6 conteudo-Painel" id="video-publicidade">
            <video controls>
                <!-- Usar um caminho relativo para o vídeo -->
                <source src="~/videos/video.mp4" type="video/mp4">
                Seu navegador não suporta o elemento de vídeo.
            </video>
        </div>

        <div class="col-md-6 conteudo-Painel" id="senha-container">
            <h1 class="senha-alinhada">
                Senha:<br>
                <span id="senha"></span><br><br>
                Guichê:<br>
                <span id="guiche"></span>
            </h1>
        </div>
    </div>

    <div class="ultima-chamada-alinhada">
        Últimas Chamadas
    </div>

    <div id="senhasChamadas" class="senhas-chamadas"></div>

    <footer class="rodape">
        <p>Sicoob Credipinho</p>
    </footer>
</div>

<link href="~/css/painel.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/painel.js"></script>
