@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <nav class="cabecalho">
        <div class="row w-100">
            <div class="col text-center">
                <h1 class="painel-senha">Painel de Senhas</h1>
            </div>
            <div class="col-auto">
                <img id="logo" src="/img/Logo_sicoob.png" alt="Logo" />
            </div>

        </div>
    </nav>

    <div class="row conteudo">
        <div class="col-md-6 col-sm-12 conteudo-Painel" id="video-publicidade">
            <!-- O conteúdo de vídeo ou imagem será inserido aqui pelo JavaScript -->
        </div>

        <div class="col-md-6 col-sm-12 conteudo-Painel" id="senha-container">
            <h1 class="senha-alinhada">
                <span class="label-senha">Senha:</span><br>
                <span id="senha">Sem Senha</span><br>

                <!-- Exibir apenas Preferencial ou Normal, sem a palavra "Tipo" -->
                <span id="tipo-senha">Sem Tipo</span><br>

                <span class="label-guiche">Guichê:</span><br>
                <span id="guiche">Sem Guichê</span>
            </h1>
        </div>
    </div>

    <div class="ultima-chamada-alinhada">
        <span>Últimas Chamadas</span>
        <div id="senhasChamadas" class="senhas-chamadas" style="min-height: 200px;">
            <!-- As últimas 3 senhas serão exibidas aqui -->
        </div>
    </div>
   
    <div id="erro" style="display:none;color:red;"></div>
</div>
<script src="/signaIr/signalr.min.js"></script><!-- Este script deve ser carregado antes do painel.js -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link href="~/css/painel.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/painel.js"></script> 
