<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSenha</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- CSS embutido para o cabeçalho -->
    <style>
        .cabecalho {
            height: 60px;
            margin-left: -20px;
            width: 102%;
            background-color: #004d40; /* Cor escura e sofisticada */
            color: white;
            width: 102%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
           
        }

            .cabecalho img {
                max-width: 150px; /* Limita a largura da logo a 150px */
                height: auto; /* Mantém a proporção da imagem */
                margin: 10px;               
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav class="cabecalho">
            <div class="row w-100">
                <div class="col text-center">
                    <h1 class="painel-senha">Painel de Senhas</h1>
                </div>
                <div class="col-auto">
                    <img src="/img/Logo_sicoob.png" alt="Logo " />
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
