html, body {
    height: 100%;
    margin: 0;
    background: #e0f7fa; /* Um tom suave e leve */
    font-family: 'Arial', sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.cabecalho {
    height: 60px;
    background-color: #004d40; /* Cor escura e sofisticada */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.painel-senha {
    font-size: 24px;
    font-weight: bold; /* Destaca o título */
}

.conteudo {
    display: flex;
    flex: 1;
    height: calc(100% - 60px); /* Altura total menos cabeçalho */
    padding: 20px; /* Adiciona padding ao conteúdo */
}

#video-publicidade {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* Necessário para deslocar o elemento */
    top: 0; 
    height: 700px; 
}

    #video-publicidade video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


#senha-container {
    flex: 0 0 50%; /* Aumenta o espaço para a senha */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: stretch; /* Estica para a largura total */
    padding: 200px;
}

.senha-alinhada, .guiche-alinhado {
    font-size: 5vw; /* Tamanho da fonte proporcional à largura da viewport */
    color: #fff;
    background: #00796b;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: calc(100% - 5cm); /* Subtrai 5 cm da largura total */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 15px;
    position: absolute; /* Necessário para deslocar o elemento */
    left: 5cm; /* Desloca o elemento 5 cm para a direita */
}

/* Media Queries para ajustes finos em diferentes tamanhos de tela */
@media (max-width: 768px) {
    .senha-alinhada, .guiche-alinhado {
        font-size: 8vw; /* Ajusta o tamanho da fonte para telas menores */
        top: 2cm; /* Ajusta a posição para telas menores */
        left: 2cm; /* Ajusta a posição para telas menores */
        width: calc(100% - 4cm); /* Subtrai 4 cm da largura total */
    }
}

@media (min-width: 1200px) {
    .senha-alinhada, .guiche-alinhado {
        font-size: 60px; /* Tamanho fixo para telas muito grandes */
        top: 2cm; /* Mantém a posição para telas grandes */
        left: 4cm; /* Mantém a posição para telas grandes */
        width: calc(100% - 5cm); /* Mantém a largura para telas grandes */
    }
}




.ultima-chamada-alinhada {
    font-size: 18px; /* Tamanho de fonte reduzido */
    text-align: center;
    padding: 35px;
    margin: 0px 0;
    background: #004d40;
    color: white;
    border-radius: 5px;
    width: 120%; 
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    z-index: 999;
}

.rodape {
    height: 40px;
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Sombra superior */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .senha-alinhada, .guiche-alinhado {
        font-size: 30px; /* Diminui o tamanho da fonte em telas menores */
    }

    .ultima-chamada-alinhada {
        font-size: 14px; /* Ajusta a fonte para dispositivos menores */
    }

    .cabecalho {
        height: 50px; /* Diminui a altura do cabeçalho */
    }

    .rodape {
        height: 40px; /* Diminui a altura do rodapé */
    }
}
